<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create product</title>
  </head>
  <body>
    <h1>Crear nuevo producto</h1>
    <form action="/create-product" method="POST">
      <input type="text" name="nombre" placeholder="Escribe el nombre" />
      <input type="number" name="cantidad" placeholder="Escribe la cantidad" />
      <input type="number" name="precio" placeholder="Escribe el precio" />
      <button type="submit">Crear</button>
    </form>
  </body>
</html>
