<header>
  <ul>
    <li><h3>Reserva Fácil - admin</h3></li>
    <li>
      <form class="out" action="/logout" method="POST">
        <input type="submit" value="Salir" />
      </form>
    </li>
  </ul>
</header>
