<% if (reservas.length !== 0) { %>
  <table class="table">
    <thead>
      <tr class="head-row">
        <th>#</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Asiento</th>
      </tr>
    </thead>
    <tbody>
      <% reservas.forEach((reserva, i) => { %>
        <tr class="body-row">
          <td><%= i + 1 %></td>
          <td><%= reserva.email %></td>
          <td><%= reserva.telefono %></td>
          <td>silla <%= i + 1 %></td>
        </tr>      
      <% }) %>
    </tbody>
  </table>
<% } else { %>
  <tr class="body-row">
    <p>No hay reservaciones</p>
  </tr>
<% } %>
