<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ejemplo</title>
</head>
<body>
  <h1>Bienvenido <%=nombre%> </h1>
  <p>Practicando con Express</p>

  <ul>
    <% for (let i = 1; i <= 5; i++) {%>
      <li>Elemento <%=i%></li>
    <% } %>
  </ul>

  <% include ../partials/footer %>
</body>
</html>
