<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ejemplo</title>
</head>

<body>
  <h1>Inicio</h1>

  <h6>
    <%=error%>
  </h6>

  <form action="/autenticar" method="post">
    <p>
      <label for="usuario">Usuario</label>
      <input type="text" name="usuario">
    </p>
    <p>
      <label for="constrasena">Contrasena</label>
      <input type="password" name="contrasena">
    </p>
    <p>
      <button type="submit">Iniciar Sesión</button>
    </p>
  </form>
</body>

</html>
