<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ejercicio 1</title>
  </head>
  <body>
    <form action="/signin" method="post" id="signin">
    <!-- <form id="signin"> -->
      <label for="email">Email</label>
      <input type="text" name="email" id="emailInput" />
      <span id="email"></span>
      <label for="usermane">usermane</label>
      <input type="text" name="usermane" id="usernameInput" />
      <span id="username"></span>
      <button type="submit">Sign in</button>
    </form>

    <script>
      const email = document.getElementById("email");
      const emailInput = document.getElementById("emailInput");

      var re =
        /^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;

      emailInput.addEventListener(
        "change",
        (validarEmail = (e) => {
          if (re.test(e.target.value)) {
            email.innerText = "Email Correcto";
            email.style.color = "green";
            return true;
          } else {
            email.innerText = "Email Incorrecto";
            email.style.color = "red";
            return false;
          }
        })
      );

      const username = document.getElementById("username");
      const usernameInput = document.getElementById("usernameInput");

      usernameInput.addEventListener("change", validarUsername = (e) => {
        if (e.target.value.length >= 6) {
          username.innerText = "Username valido";
          username.style.color = "green";
          return true;
        } else {
          username.innerText = "Username invalido";
          username.style.color = "red";
          return false;
        }
      });

      const signin = document.getElementById("signin");

      signin.addEventListener("click", (e) => {
        // e.preventDefault()

        // if (re.test(e.target.form[0].value) & e.target.form[1].value >=6) {
        //   console.log("Enviar");
        // }
      })
    </script>
  </body>
</html>
